.movieRow {
  margin-top: 15px;
}

.card {
  margin-top: 15px;
}

.moviesListCard {
  width: 18rem;
}

div.poster {
  position: relative;
  margin: 10px;
}

.smallPoster {
  user-select: none;
}


.star {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 32.5em;
  height: 4em;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 10;
}

.starFill {
  fill: yellow;
}

.starEmpty {
  fill: white;
}

div.filter_card {
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(50, 136, 255, 0.09);
  border: none;
  padding: 24px;
  margin-top: 35px;
}
img.petList_image{
  height: 320px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 968px) {
  div.filter_card.card {
    margin-top: 0;
  }
  img.card-img-top {
    height: 220px;
    object-fit: fill,
  }
}
